@import "../../../themes/vars";

.report_item {
  :global {
    .ant-card-body {
      white-space: pre;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 112px;
    }
  }
}

.modal_form {
  :global {
    .ant-form-item {
      display: flex;

      .ant-form-item-label {
        > label > span {
          width: 200px;
          display: inline-block;
        }
      }
    }

    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }
}

.display_field {
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}
