@import "../../../themes/vars";

.report_item {
  :global {
    .ant-card-body {
      white-space: pre;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 132px;

      &:after, &:before {
        content: none;
      }
    }
  }
}

.modal_form {
  :global {
    .ant-form-item {
      display: flex;
      margin: 0 0 10px 0;
      .ant-form-item-label {
        > label > span {
          width: 200px;
          display: inline-block;
        }
      }
    }

    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }
}

.display_field {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.report-alert {
  text-align: center;
  font-size: 18px;
  width: 100%;
  color: red;
  margin-bottom: 5px;
}